<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>물리미</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(APP_MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(APP_BUILD_NUMBER)</string>
	<key>NSHealthShareUsageDescription</key>
	<string>물 섭취 기록과 신체 정보를 보여주기 위해 건강 앱 접근 권한이 필요합니다.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>마신 물을 건강 앱에 기록하기 위해 건강 앱 쓰기 권한이 필요합니다.</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>gaeng2y.DrinkWater.watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
</dict>
</plist>
